ANDROID_KEYSTORE=
ANDROID_KEYSTORE_PASSWORD=
ANDROID_KEY_ALIAS=
ANDROID_KEY_PASSWORD=
ANDROID_PACKAGE_NAME=
ANDROID_PLAY_STORE_JSON_KEY_BASE64=
IOS_APP_IDENTIFIER=
IOS_CONNECT_API_KEY_BASE64=
IOS_CONNECT_ISSUER_ID=
IOS_CONNECT_KEY_ID=
IOS_DIST_CERT_BASE64=
IOS_PROJECT_NAME=
IOS_PROJECT_SCHEME=
IOS_PROV_PROFILE_BASE64=
IOS_PROV_PROFILE_NAME=
IOS_P12_PASSWORD=
IOS_SIGNING_CERTIFICATE=
IOS_TEAM_ID=
IOS_TEAM_NAME=
IOS_TESTFLIGHT_GROUPS=
SELFXYZ_INTERNAL_REPO_PAT=
SLACK_CHANNEL_ID=
SLACK_API_TOKEN=
