node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
ignition/deployed_addresses.json
ignition/parameters.json

# Ignore all deployment folders except important ones
!ignition/deployments/prod/
!ignition/deployments/staging/

# For chain-11142220, keep only essential files
ignition/deployments/chain-11142220/*
!ignition/deployments/chain-11142220/deployed_addresses.json

# For chain-42220, keep only essential files
ignition/deployments/chain-42220/*
!ignition/deployments/chain-42220/deployed_addresses.json

# For important environments, keep only essential files
ignition/deployments/{prod,staging}/*
!ignition/deployments/{prod,staging}/deployed_addresses.json
!ignition/deployments/{prod,staging}/artifacts/

# In artifacts, keep deployment files but exclude debug files
ignition/deployments/{prod,staging}/artifacts/*
!ignition/deployments/{prod,staging}/artifacts/**/*.json
ignition/deployments/{prod,staging}/artifacts/**/*dbg.json

#Local verifier
contracts/verifiers/local/*

.yarn
.yarnrc.yml
