[submodule "contracts/lib/openzeppelin-foundry-upgrades"]
	path = contracts/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "packages/mobile-sdk-alpha/mobile-sdk-native"]
	path = packages/mobile-sdk-alpha/mobile-sdk-native
	url = git@github.com:selfxyz/mobile-sdk-native.git
	branch = main
