HOST=127.0.0.1
PORT=3000
FRONTEND_ORIGIN=http://127.0.0.1:4176,http://localhost:4176
BODY_LIMIT=50mb
ZKPASSPORT_DOMAIN=localhost
ZKPASSPORT_SCOPE=
ZKPASSPORT_DEVMODE=false
ZKPASSPORT_VALIDITY=604800
ZKPASSPORT_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
