
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfUEiDnrc4tIUZidWn9YmsKOXkkxQnVfg</string>
	<key>GCM_SENDER_ID</key>
	<string>260578412566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.warroom.proofofpassport</string>
	<key>PROJECT_ID</key>
	<string>selfxyz-app</string>
	<key>STORAGE_BUCKET</key>
	<string>selfxyz-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260578412566:ios:59f37c4d004f399dc78d37</string>
</dict>
</plist>
